@model PaginatedList<Passive>

<table id="passive-table">
    @foreach (Passive item in Model)
    {
        <tr class="data data-@item.Type">
            <td class="table-name">@item.Name</td>
            <td class="table-description">@item.Description</td>
        </tr>
        <tr>
            <td colspan="100"></td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "button-change-page-disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "button-change-page-disabled" : "";
    var firstDisabled = Model.PageIndex == 1 ? "button-change-page-disabled" : "";
    var lastDisabled = (Model.TotalPages == 1 || Model.PageIndex == Model.TotalPages) ? "button-change-page-disabled" : "";

    <div class="dbox d-flex align-items-center align-content-center">
        <button class="button-change-page justify-content-center align-items-center @firstDisabled" onclick="refreshPassiveList('@Model.Search', @Model.getType(), 1)" @firstDisabled><i class="fa fa-angles-left"></i></button>
        <button class="button-change-page justify-content-center align-items-center @prevDisabled" onclick="refreshPassiveList('@Model.Search', @Model.getType(), @(Model.PageIndex - 1))" @prevDisabled><i class="fa fa-angle-left"></i></button>
        <button class="button-change-page justify-content-center align-items-center @nextDisabled" onclick="refreshPassiveList('@Model.Search', @Model.getType(), @(Model.PageIndex + 1))" @nextDisabled><i class="fa fa-angle-right"></i></button>
        <button class="button-change-page justify-content-center align-items-center @lastDisabled" onclick="refreshPassiveList('@Model.Search', @Model.getType(), @(Model.TotalPages))" @lastDisabled><i class="fa fa-angles-right"></i></button>
    </div>

}